
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h1>Análise de transações</h1>
    <p>Neste projeto, é possível:</p>
    <ul>
        <li>
            Para transações:
            <ul>
                <li><strong>cadastrar transações</strong> por meio do envio de arquivos CSV ou XML em formato específico</li>
                <li><strong>visualizar transações</strong></li>
                <li><strong>visualizar o histórico de envio de transações</strong></li>
                <li><strong>buscar transações, contas ou agências suspeitas em determinado mês</strong> de acordo com a movimentação feita por elas</li>
            </ul>
        </li>
        <li>
            Para Usuários, é possível realizar:
            <ul>
                <li><strong>seu cadastrar</strong> na página de cadastro</li>
                <li><strong>cadastro de outro usuário</strong> após autenticação</li>
                <li><strong>Exclusão lógica de outros usuarios</strong> (fique tranquilo, eles não perderão acesso à conta)</li>
                <li><strong>Editar usuários</strong></li>
                <li><strong>Visualizar uma lista de usuários</strong></li>
            </ul>
        </li>
    </ul>
</div>
