@model TransactionsAluraCSV.Presentation.Models.AccountLoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <header class="card-header">
        <h1 class="title is-3 p-5">Autenticação de Usuários</h1>
    </header>
    <div class="card-content">
        @using (Html.BeginForm()){
            <div class="field">
                <label for="" class="label">Email:</label>
                <p class="control has-icons-left has-icons-right">
                @Html.TextBoxFor(model => model.Email, new {@class="input", @placeholder="Insira seu email"})
                @* <input class="input" type="email" placeholder="Email"> *@
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                @* <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span> *@
                </p>
            </div>
            <div class="field">
                <label for="" class="label">Senha:</label>
                <p class="control has-icons-left">
                @Html.PasswordFor(model => model.Password, new {@class="input", @placeholder="Insira sua senha"})
                @* <input class="input" type="text" placeholder="Nome"> *@
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                </p>
                <p class="help has-text-weight-normal mb-3 is-italic">Insira a senha enviada para seu email de cadastro.</p>
            </div>
            
            <div class="card-footer">
                <button id="submitBtn" class="card-footer-item button is-success" type="submit">Iniciar sessão</button>
            </div>
            <p class="is-italic help">Não tem conta? Cadastre-se <a class="is-underlined" href="/Account/Register">clicando aqui!</a></p>
        }
    </div>
</div>
<script>
    document.onreadystatechange = function() {
        btn = document.getElementById("submitBtn");
        btn.addEventListener("click", () => {
            btn.classList.add("is-loading");
        })
    }
</script>